body {
    background-color: #0f0a18;
}

.introtext {
    font-weight: bolder;
    font-size: 13px;
    color: #c76367;
}

nav ul {
  justify-content: center;
}


nav ul li {
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 100px;
    font-size: calc(15px + 0.390625vw);
    display:contents;
    overflow: hidden;
}

nav ul li a {
    text-decoration: none;
    font-color: #ffffff;
  /*  font-size: 23px; */
  /*  text-align: center; */
    font-size: calc(15px + 0.390625vw);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    color: #c76367;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    color: #c76367;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  color: #c76367;
}

div {
    padding-left: 20px;
}

div a {
    font-family: Arial, Helvetica, sans-serif;
    font-color: #ffffff;
    padding-left: 20px;
}

p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.geekringintrotext {
    padding-left: 0px;
}

.geekringinfotext {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-color: #ffffff;
}

i {
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-color: #ffffff;
}

strong {
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-color: #5da2db;
}

.rwatext {
    padding-left: 0px;
}

::selection {
  color: rgb(181, 192, 201);
  background: #723234;
}