body {
    background-color: #425047;
    
}

.introtext {
    font-weight: bolder;
    font-size: 13px;
    color: #dbbc7f;
}

div {
  border: 2.5px solid #a7c080;
  border-radius: 0vh;
  display: flex;
  flex-direction: column;
  width: calc(50%);
  padding-inline: 2em;
  padding-block: 1em;
}

article {
  border: 2.5px solid #c76367;
  border-radius: 0vh;
  display: flex;
  flex-direction: column;
  width: calc(50%);
  padding-inline: 2em;
  padding-block: 1em;
}

nav {
  margin-left: 1vh;
  border: 3px solid #a7c080;
  border-radius: 0vh;
  width: fit-content;
  background-color: #1e2326;
  overflow: hidden;
}
nav ul {
  padding-right: 55px;
  justify-content: center;
}


nav ul li {
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 100px;
    font-size: calc(15px + 0.390625vw);
    display:contents;
    overflow: auto;
}

nav ul li a {
    text-decoration: none;
    color: #dbbc7f;
  /*  font-size: 23px; */
  /*  text-align: center; */
    font-size: calc(15px + 0.390625vw);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

section {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  color: #c76367;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0px;
    color: #dbbc7f;
}

h3 a {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
  color: #dbbc7f;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    color: #dbbc7f;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  color: #dbbc7f;
}

div {
    padding-left: 20px;
}

div a {
    font-family: Arial, Helvetica, sans-serif;
    color: #a7c080;
    padding-left: 20px;
}

p, i {
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #dbbc7f;
}

.loserexampleitalic {
  padding: 0;
}

.geekringintrotext {
    padding-left: 0px;
}

.geekringinfotext {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  color: #a7c080;
}

.rwatext {
  padding-left: 0;
}

strong {
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-color: #5da2db;
}

article {
  padding-left: 10px;
}

.monkevideo {
  border: 0;
}

.rings {
  margin-inline: 1.45em;
  border: 2.5px solid #a7c080;
  border-radius: 0vh;
  display: flex;
  flex-direction: column;
  width: calc(50%);
  padding-inline: 2em;
  padding-block: 1em;
}

::selection {
  color: rgb(0, 0, 0);
  background: #cac560;
}