body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #274945;
}

h1, h2, h3, h4, h5, h6, p {
    color: aliceblue;
}

.wrapper {
    margin-top: 150px;
    display: flex;
    height: 100vh;
    width: 100%;
    overflow-x: auto; /* makes the wrapper horizontally scrollable */
}

section {
    flex: 1;
    margin: 0 20px; /* space between sections */
    overflow: auto; /* makes the section scrollable */
    padding: 20px;
    border: 5px solid #5d20ae;
    border-radius: 20px;
    min-width: 30%; /* ensures sections have minimum width to avoid being too small */
    box-sizing: border-box; /* includes padding and border in the width */
}

.section1 {
    background-color: #6c2129; /* light blue */
}

.section2 {
    background-color: #865d26; /* antique white */
}

.section3 {
    background-color: #850505; /* beige */
}
